*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #F5F8FF;
}


/* comon style */

.inter-font{
   font-family: "Inter", sans-serif;
}
.noto-font{
    font-family: "Noto Serif", serif;
}
.dark{
  color: #8987A1;
   font-family: "Inter", sans-serif;
}
.dark1{
  color: #00000080;
  opacity: 50%;
  font-family: "Inter", sans-serif;
}
.black{
  color: black;
}
.dark2{
  color: #252432;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.dark3{
 color: #111111;
 font-size: 22px;
 font-family: "Inter", sans-serif;
}
.doller{
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
i{
  margin-left: 10px;
}
.container{
  width: 1140px;
  margin: auto;
}
span{
  color: #E95A08;
}
.btn{
  background-color: #E95A08;

 padding: 12px 50px 12px 50px;

  color: white;
  font-weight: 700;
  border: none;
  width: 270px;
}


/* heading section desing */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-style ul,.head-style li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 48px;
text-decoration: none;
}
li a{
  text-decoration: none;
}

/* main section er 1st part design */
.contain{
  display: flex;
  align-items: center;
  margin-top: 100px;
  justify-content: space-between;
}
.contain1 h2{
  font-size: 65px;
  font-weight: 700;
line-height: 89px;
}
.contain1 p{
  font-size: 22px;
  font-weight: 400;
  margin-top: 20px;
 
}
.image{
margin-bottom: 70px;
  
}

/* main sectioner 2nd part desing */
.Plant-shop{
  padding: 0px 126px;
  text-align: center;
  margin-top: 30px ;
  
}
.Plant-shop h2{
  font-size: 50px;
  font-weight: 600px;
  line-height: 69px;
  
}

.Plant-shop p{
  margin-top: 16px;
  font-size: 22px;
  font-weight: 400px;
  

}
.card-section{

  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4,2fr);
  gap: 20px;
  text-align: center;
}
.card1{
  text-align: center;
}
.card1 p{
  margin-top: 10px;
}
.btn{
  margin-top: 20px;
  margin-bottom: 20px;
}
.contain3{
  display: flex;
  gap: 70px;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: 150px;
}

.Store-contain{
  margin-top: 38px;
}
.Store-contain h2{
  font-size: 50px;
font-weight: 700;
line-height: 68px;
text-align: left;

}
.Store-contain li {
  font-size: 21px;
font-weight: 400;
margin-top: 30px;
margin-left: 30px;

}

.Flower-store{
  position: relative;
}
.trusted-bg{
  width: 268px;
  position: absolute;
  background: transparent;
left: 350px;
 top: -98px;
}
